.btn {
	max-width: 321px;
	width: 100%;
	margin: 8px auto 0 auto;
	padding: 12px 0;
	color: $color-white;
	font-size: 22px;
	line-height: 36px;
	text-align: center;

	background-color: $color-silver-chalice;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	@include transition();
	will-change: background-color;

	&:hover {
		background-color: $color-tundora;
	}

	&--blue {
		background-color: $color-cerulean;

		&:hover {
			background-color: $link-hover-color;
		}
	}

	&--full {
		max-width: 100%;
	}

	&--large {
		font-weight: bold;
		padding: 22px 0;
	}

	&:focus {
		outline: 0;
	}
}
