.contact {
	margin-top: 50px;
	background-color: $color-mercury;

	@include mq($until: tablet) {
		margin-top: 39px;
	}

	.wrapper {
		@include mq(tablet) {
			max-width: 492px;
		}
	}

	.wrapper__inner {
		padding: 62px 0;

		@include mq($until: tablet) {
			padding: 49px 10px 31px;
		}
	}

	.btn {
		margin: 0;
	}
}
