.footer {
	background-color: $color-tundora;

	.wrapper__inner {
		justify-content: space-between;
    align-items: center;
    padding: 17px 10px;
	}

	span {
		color: $color-white;
		line-height: 36px;

		@include mq($until: tablet) {
			flex-basis: 100%;
			text-align: center;
    }
	}
}
