.form {
	display: block;
	width: 100%;

	label {
		display: block;
		margin: 0 0 8px 0;
		color: $titles-color;
		font-size: 22px;
		line-height: 36px;
	}

	input,
	textarea {
		display: block;
		width: 100%;
		margin: 0 0 19px;
		padding: 21px 27px 23px 27px;
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 22px;
		line-height: 36px;
		font-weight: 500;
		color: $titles-color;

		@include transition(border-color);
		will-change: border-color;

		&:focus,
		&:hover {
			outline: 0;
			border-color: $color-cerulean;
		}

		@include mq($until: tablet) {
			margin-bottom: 15px;
		}
	}

	textarea {
		height: 202px;
		resize: none;
	}

	*[role=alert] {
		color: red;
	}
}
