.menu,
.submenu {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

.menu {
	display: flex;

	@include mq($until: desktop) {
		position: fixed;
		top: 76px;
		right: -100%;
		bottom: 0;
		width: 48%;
		height: 100%;
		display: block;
		padding-top: 39px;
		background-color: $color-mine-shaft;

		@include transition(right);
		will-change: right, width;
	}

	@include mq ($until: tablet) {
		width: 100%;
	}

	.mm-is-active & {
		right: 0;
	}
}

.menu__item {
	@include transition(background-color);
	will-change: background-color;

	@include mq(desktop) {
		&:last-of-type {
			a {
				padding-right: 34px;
			}
		}
	}

	a {
		display: block;
		color: $color-white;
		text-decoration: none;
		font-size: 22px;
		padding: 27px;

		@include mq($until: desktop) {
			font-size: 30px;
			padding: 20px;
		}
	}

	&:hover,
	&.is-active {
		@include mq(desktop) {
			background-color: $link-hover-color;
		}

		@include mq($until: desktop) {
			& > a {
				color: $link-hover-color;
			}
		}
	}

	&.has-submenu {
		position: relative;
	}

	@include mq($until: desktop) {
		display: block;
		text-align: center;
	}
}

.has-submenu {
	&.is-active,
	&:hover {
		.submenu {
			display: block;
		}

		@include mq($until: desktop) {
			padding-bottom: 20px;
		}

		a {
			@include mq($until: desktop) {
				padding-bottom: 8px;

				&.is-active,
				&:hover {
					color: $link-hover-color;
				}
			}
		}
	}
}

.submenu {
	display: none;

	@include mq(desktop) {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: $color-mine-shaft;
		border: 1px solid $color-dusty-gray;
		min-width: 254px;
	}

	&__item {
		@include transition(background-color);
		will-change: background-color;

		&:hover,
		&.is-active {
			@include mq(desktop) {
				background-color: $link-hover-color;
			}
		}

		a {
			font-size: 18px;

			@include mq($until: desktop) {
				padding: 9px 20px;
			}

			@include mq(desktop) {
				padding: 0px 25px;
				line-height: 35px;
				text-align: right;
			}
		}

		@include mq(desktop) {
			&:first-of-type {
				a {
					padding-top: 12px;
				}
			}

			&:last-of-type {
				a {
					padding-bottom: 12px;
				}
			}
		}
	}
}

.nav-icon {
	display: none;
	padding: 0;
	-webkit-appearance: none;
	outline: 0;
	background: none;
	border: none;
	cursor: pointer;

	@include mq($until: desktop) {
		display: block;
	}

	&--close {
		display: none;
	}

	@include mq($until: desktop) {
		.mm-is-active &--open {
			display: none;
		}

		.mm-is-active &--close {
			display: block;
		}
	}
}
