.slider {
	.wrapper,
	.wrapper__inner {
		height: 100%;
	}

	.wrapper__inner {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}

	&__item {
		width: 100%;
		height: 250px;
		background-image: url('../../public/images/slider-image-1024x250.png');
		background-size: cover;

		@include mq($until: tablet) {
			height: 400px;
		}
	}
}

.slider-title {
	width: 100%;
	margin: 0 auto;
	font-size: 50px;
	line-height: 36px;
	font-weight: 900;
	color: $color-white;
	text-align: center;

	@include mq($until: tablet) {
		width: 73%;
		font-size: 40px;
		line-height: 44px;
	}
}

.tns-outer {
	position: relative;
	z-index: -1;
}

.tns-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 11px;
	text-align: center;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
	width: 15px;
	height: 15px;
	margin: 6px;
	border: none;
	border-radius: 50%;
	background-color: $color-white;
	@include transition(background-color);
	will-change: background-color;
	outline: 0;
}

.tns-outer [aria-controls]:hover,
.tns-outer [aria-controls]:focus,
.tns-outer [data-action]:hover,
.tns-outer [data-action]:focus,
.tns-outer .tns-nav-active {
	background-color: $link-hover-color;
}
