/* LOAD NECESSARY GFONTS */
$google-font-subsets: (
	'latin-ext': true
);
@include google-font(Roboto, 400 500 700 900);

html,
body {
	font-family: 'Roboto', sans-serif;
	color: $default-body-text-color;
}

a {
	color: $default-body-link-color;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

/* LOAD GLOBAL TYPOGRAPHY DEFAULTS */

/* LOAD BASE CONFIG */
@include typi-init;
/* LOAD OTHER CONFIGS AS NECESSARY, DEFINED IN common/variables/fonts */

*,
*::before,
*::after {
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;

	&--full {
		max-width: none;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 0 10px;
	}
}

a,
button {
	img {
		display: block;
	}
}

.section-title {
	margin: 0 0 59px;
	width: 100%;
	font-size: 50px;
	line-height: 1;
	font-weight: 900;
	text-align: center;
	color: $titles-color;

	@include mq($until: tablet) {
		margin-bottom: 33px;
	}
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky::before,
.sticky::after {
  content: '';
  display: table;
}
