.article-box {
	margin-bottom: 50px;
	flex: 0 0 calc((100% / 3) - 10px);
	flex-basis: calc((100% / 3) - 10px);

	@include mq($until: desktop) {
		margin-bottom: 27px;
		flex: 0 0 calc((100% / 2) - 10px);
		flex-basis: calc((100% / 2) - 10px);
	}

	@include mq($until: tablet) {
		margin-bottom: 38px;
		flex: 0 0 100%;
		flex-basis: 100%;
	}

	&__image {
		max-width: 100%;
		width: 100%;
		height: 236px;
		object-fit: cover;

		@include mq($until: desktop) {
			height: 236px;
		}

		@include mq($until: tablet) {
			height: 200px;
		}
	}

	&__title {
		font-weight: bold;
		color: $titles-color;
		margin: 10px 0 0;

		@include mq($until: desktop) {
			font-size: 36px;
			line-height: 44px;
			margin-top: 6px;
		}

		@include mq($until: tablet) {
			font-size: 32px;
			line-height: 40px;
			margin-top: 6px;
		}

		@include mq(desktop) {
			font-size: 40px;
			line-height: 44px;
		}
	}

	&__excerpt {
		font-size: 22px;
		line-height: 34px;
		margin: 10px 0 0;

		@include mq($until: tablet) {
			margin-top: 2px;
		}
	}

	&__link {
		display: block;
		font-size: 22px;
		font-weight: bold;
		line-height: 34px;
		margin: 21px 0 0;
	}
}
