.header {
	background-color: $color-cerulean;
	z-index: 1;

	.wrapper__inner {
		justify-content: space-between;
    align-items: center;

    @include mq($until: desktop) {
    	padding: 23px 24px 23px 10px;
    }

    @include mq(desktop) {
    	padding-right: 0;
    }
	}

	&__logo {
		padding-left: 24px;

		a {
			display: block;
		}
	}
}

.header-overlay {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: #333333;
	opacity: 0.4;

	@include transition(right);
	will-change: right;

	.mm-is-active & {
		right: 0;
	}
}
