/* http://chir.ag/projects/name-that-color/ */

/* COLOR NAME VARIABLES */
$color-white: #FFFFFF;
$color-boulder: #747474;
$color-tundora: #4A4A4A;
$color-cerulean: #00A1D1;
$color-bondi-blue: #008AB3;
$color-mine-shaft: #333333;
$color-silver-chalice: #B0B0B0;
$color-dusty-gray: #979797;
$color-mercury: #E9E9E9;

/* COLOR VARIABLES FOR COMMON USE */
$default-body-text-color: $color-boulder;
$default-body-link-color: $color-cerulean;
$titles-color: $color-tundora;
$link-hover-color: $color-bondi-blue;
